<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</b></h3>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [0]:
#!pip install pandas

In [1]:
import pandas as pd
import numpy as np

<img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_dd487f3f.png" width=300 height=300>

### Даю DATA: https://www.kaggle.com/mehdidag/black-friday

In [5]:
data = pd.read_csv('BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [80]:
data.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,find_nan,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,find_nan,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,find_nan,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,find_nan,7969

In [43]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/mehdidag/black-friday/home)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [25]:
ages = data.values[:, 3]
count_ages = np.unique(ages)
print (count_ages)
print(len(count_ages))

['0-17' '18-25' '26-35' '36-45' '46-50' '51-55' '55+']
7

### Best solution

In [32]:
print (data["Age"].nunique())

7

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [49]:
men_A = data[(data.Gender == 'M') & (data.City_Category == 'A')]
print (np.shape(men_A)[0])

109831

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [54]:
women_46_50_20000 = data[(data.Gender == 'F') & (data.Age == '46-50') & (data.Purchase > 20000)]
print (np.shape(women_46_50_20000)[0])

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [85]:
swap = data.Product_Category_3.fillna('find_nan', inplace = True)
pr_cat3_nan = data[data.Product_Category_3 == 'find_nan']
print (np.shape(pr_cat3_nan)[0])

####data.Product_Category_3.isna().sum()

373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [108]:
sum_M = data[(data.Gender == 'M')&(data.Age == '26-35')]
sum_F = data[(data.Gender == 'F')&(data.Age != '0-17')&(data.Age != '18-25')&(data.Age != '26-35')]

sum_M_F = np.shape(sum_M)[0] + np.shape(sum_F)[0]
all_cust = np.shape(data)[0]

print("%.4f" % (sum_M_F / all_cust))

0.4077

### Best solution

In [ ]:
np.round(data[((data.Age == '26-35') & (data.Gender == 'M')) | 
     ((data.Age.isin(['55+', '46-50', '51-55', '36-45'])) & (data.Gender == 'F'))].shape[0] / data.shape[0], 4)

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).